@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" id="logout" value="ログアウト" />


<div style="display:none; visibility:hidden">
    <script type="text/javascript" src="../../Scripts/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/Home/index.js"></script>
</div>
